/* Inicio parte Cidrack */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    --cor-de-fundo: #ec9500;
    --cor-terracota: #e03f00;
    --cor-preto: #000;
    
    --cor-terracota-hover: #972b00;
    background-size: cover;
}

body {
    background-color: var(--cor-de-fundo);
}

header {
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 10px;
}

.cabecalho {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo, .redes-sociais {
    width: 25%;
}

.logo img {
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
}

.menu {
    width: 50%;
}

.menu nav a {
    color: var(--cor-terracota);
    text-decoration: none;
    padding-right: 40px;
    font-size: 18px;
    position: relative;
}

.menu nav a::after {
    content: ' ';
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);;
    position: absolute;
    top: 25px;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after {
    width: 75%;
}

.menu nav a:hover {
    color: var(--cor-terracota-hover);
    transition: color 0.5s;
}

.menu nav a.ativo {
    color: var(--cor-terracota-hover);
}

.menu nav a.ativo::after {
    width: 75%;
}


.redes-sociais button {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.redes-sociais button a {
    text-decoration: none;
    color: var(--cor-preto);
}

#section-home, .section-local {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.black-friday, .mais-devoradas, .nossa-historia {
    margin: 20px 0;
}

.p-black-friday, .p-mais-devoradas {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

#h2-nossa-historia, .p-nossa-historia  {
    margin-bottom: 10px;
}

.img-section-home {
    border-radius: 10px;
    padding: 0 5px;
    cursor: pointer;
    width: 500px;
    height: auto;
}

footer {
    background-color: #000;
    color: var(--cor-terracota);
    padding: 20px;
    text-align: center;
    width: 100%;
}

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.conteudo-esquerda p {
    text-align: left;
    margin: 0;
    max-width: 300px;
}

.logo img {
    width: 120px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

.conteudo-direita ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.conteudo-direita ul p {
    font-weight: bold;
    margin-bottom: 10px;
}

.conteudo-direita ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}

.conteudo-direita ul li a {
    color: var(--cor-terracota);
    text-decoration: none;

    transition: color 0.5s;
}

.conteudo-direita ul li a:hover {
    color: var(--cor-terracota-hover);
}

/* Fim parte Cidrack */

/* PARTE IBERMON */
.h1-cab {
    background-image: url(https://pizzariadonaamelia.com.br/wp-content/uploads/2020/01/foto-pizza-site-1.jpg);
    font-size: 25px;
    height: 400px;
    padding: 5px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    color: var(--cor-de-fundo);
}

.parag-cab {
    background-color: dimgray;
    color: var(--cor-preto);
    margin-bottom: 10px;
}

.h2-card {
    background-color: dimgray;
    text-align: center;
    color: var(--cor-preto);
}

.tabela-cardapio  {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

.celulas-cardapio {
    border: 1px solid black;
}

.imgcard {
    text-align: center;
}

#section-pedido {
    padding: 20px;
}

#titulo-pedido {
    color: var(--cor-detalhe);
}

.dados-pedido {
    border: 2px solid var(--cor-destaque);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: white;
}

.legend-pedido {
    font-weight: bold;
    color: var(--cor-detalhe);
}

.label-pedido {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #bd5500;
    border-radius: 4px;
}

#botao-pedido {
    background-color: var(--cor-terracota);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

#botao-pedido:hover {
    background-color: #bd5500;
    color: var(--cor-preto);
}

/* FIM PARTE IBERMON */


/* PARTE PLGABRIEL */

/* Estilização dos títulos e textos */
#titulo-promocao {
    border: 5px solid black;
    display: flex;
    justify-content: center;
    background-color: red;
    color: black;
    font-size: 50px;
    width: auto;
}
#texto-promocao {
    display: block;
    background-color: #FFE178;
    width: auto;
    justify-content: center;
    font-style: italic;
    font-size: 30px;
}
#texto-titulo-promocoes {
    font-style: italic;
    font-size: 20px;
}
/* Estilização da tabela */
.tabela-toda {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: auto;
    background-color: #FFE178;
}
.celulas-promocao{
    border: 2px solid black;
    width: 1500px;
    height: 30px;
}
/* Estilização das imagens */
.container-imagens-promocoes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.imagem {
    display: flex;
    align-self: baseline;
    width: 500px;
    justify-content: center;
    margin-right: 100px;
    padding-right: 50px;
    padding-left: 50px;
    margin-left: 75px;
}

/* Estilizando âncora das promoções */
.ancora-promocoes {
    display: flex;
    justify-content: center;
    width: 600px;
    color: black;
}
.ancora-promocoes:hover {
    color: #FFE17B;
}
.ancora-promocoes:visited {
    color: blue;
}
.ancora-promocoes:active {
    color: white;
}

/* FIM PARTE PLGABRIEL */

/* Parte Gabriel */

#body-loja {
    background-color: #FAB12F;
}

#div-titulo {
    margin: 2%;
    text-align: center;
}

#div-titulo h1 {
    font-size: 46px;
}

#div-titulo p {
    font-size: 22px;
}

iframe {
    height: 350px;
    width: 550px;
    max-width: 100%;
    border: 10px solid #ec9500;
    border-radius: 10px;
}

#tabela-lojas {
    font-size: 20px;
    border: 0;
    text-align: center;
    border-spacing: 15px;
    border-collapse: separate;
    background-color: #ec9500;
    border-radius: 10px;
    margin-top: 1%;
    padding-top: 1.5%;
}
    
#tabela-lojas caption {
    font-weight: bold;
    font-size: 24px;
    background-color: #e03f00;
    border-radius: 10px;
    margin-bottom: -4%;
}

.unidades {
    text-align: left;
}

#grid-lojas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;    
}

#div-tabela {
    grid-column: span 2;
    grid-row: 1;
}

#div-iframe {
    grid-column: 1;
    grid-row: 2;
    margin-top: 3rem;
    margin-left: 2%;
}

#div-img {
    grid-column: 2;
    grid-row: 2;
    margin-top: 2rem;
}

#imagem-loja {
    height: auto;
    width: 600px;
    max-width: 100%;
    background-color: #B0E0E6;
    border-radius: 10px;
}

/* Fim parte Gabriel */

@media screen and (max-width: 1150px) {
    /* Parte Cidrack */
    .cabecalho {
        flex-direction: column;
    }

    .logo, .redes-sociais, .menu {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .menu nav a {
        padding-right: 20px;
    }

    .black-friday, .mais-devoradas, .nossa-historia {
        text-align: center;
        margin-bottom: 20px;
    }

    .img-section-home {
        height: auto;
        width: 80%;
        margin-bottom: 10px;
    }

    .rodape {
        flex-direction: column;
        text-align: center;
    }

    /* background cardapio */
    .h1-cab {
        background-size: 100%;
        height: 200px;
    }

}

/* Parte Gabriel */

#grid-lojas {
    display: inline;
    padding: auto;
    gap: auto;
}

#tabela-lojas {
    font-size: 16px;
}

#tabela-lojas caption {
    font-size: 20px;
}

#div-titulo h1 {
    font-size: 42px;
}
    
#div-titulo p {
    font-size: 18px;
}

iframe {
    height: auto;
}

/*Fim Parte Gabriel */


@media(max-width: 500px) {
    /* Parte Gabriel */

    #tabela-lojas {
        font-size: 10px;
    }

    #tabela-lojas caption {
        font-size: 14px;
    }

    #div-titulo h1 {
        font-size: 36px;
    }
    
    #div-titulo p {
        font-size: 12px;
    }

    /*Fim Parte Gabriel */
}

